
#loginbox{

    width: 70%;

}

#password_field{

    width: 470px;

}

#f_btn{
    margin-bottom: 20px;
}

#f_btn_pc{
    margin-bottom: 30px;
    
}


@media (max-width: 600px) {

    #login_title{
        margin-left:30px;
    }

    #loginbox{

        margin: 0 auto;
        width: 90%;
    
    }

    #c_link{
    
        display: flex;
        justify-content: center;
        
    }

    #c_text{

        margin-top: 100px;
    }
    
    #password_field{

        width: 220px;
    
    }
    

  }


  #card{

    margin: 0 auto;
    margin-top:150px;
}





#main-div{

  animation-name: flip;
  animation-duration: 0.6s; /* Faster duration */
  animation-delay: 0.1s;    /* Slight delay */


}
