.empty_img{

    width: 250px;
    height : 250px;
    border-radius: 50%;
    margin-left: 100px;
       
   }
   
   @media (max-width:600px){
       
       .empty_img{
   
           width: 200px;
           height : 200px;
           border-radius: 50%;
           margin-left: 0;
       
          }
   
   
   
   } 