#archive{

    font-size: 70px;
    margin-left: 450px;
 }
 
 #archive-text{
 
 
     margin-left: 350px;
     font-Size: 25px;
     font-family: 'Mooli', sans-serif;
     letter-spacing: 4px;
     margin-top: 10px;
 
 }