#verification_box{


    position: absolute;
    left : 40%;
    top : 20%;
}

.iconss{

    font-size: 60px !important;
}

 @media (max-width: 600px){


    #verification_box{


        position: absolute;
        left : 10%;
        top : 20%;
    }
    
    .iconss{
    
        font-size: 60px !important;
    }


 }